<!DOCTYPE html>
<html lang="en">

<head>
    <title>Napster Clone</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="/static/bootstrap.min.css"> -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/emoji_style.css">
    <!-- <link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css"> -->
    <!-- <script src="/static/jquery.min.js"></script> -->
    <!-- <script src="/static/bootstrap.min.js"></script> -->
    <!-- <script src="/static/Chart.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>  -->
    <script type="text/javascript" src="/static/index_controller.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Napster Clone</a>
            </div>
            <!-- <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul> -->
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Files on Server</h2>
                <div class="list-group" id="on-server">
                    <!-- <a href="#" class="list-group-item active">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a> -->
                </div>
            </div>

            <div class="col-md-6">
                <h2>Local Files</h2>
                <ul class="list-group" id="downloaded">
                    <!-- <li class="list-group-item">First item</li>
                    <li class="list-group-item">Second item</li>
                    <li class="list-group-item">Third item</li> -->
                </ul>
            </div>
        </div>
    </div>

    <footer class="navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid ">
            <p class="text-muted ">BCSE-IV DC Lab</p>
        </div>
    </footer>
</body>

</html>
